# netlify/netlify.toml
[build]
  command = "npm install --prefix netlify && npm run build --prefix netlify" # 先运行生成HTML的脚本
  publish = "netlify/build" # 你的静态页面目录
  functions = "netlify/functions" # 指定 Netlify Functions 的目录

[[redirects]]
  # 将所有代理请求转发到 Netlify Functions
  from = "/git/*"
  to = "/.netlify/functions/proxy"
  status = 200

[[redirects]]
  from = "/docker/*"
  to = "/.netlify/functions/proxy"
  status = 200

[[redirects]]
  from = "/catbox/*"
  to = "/.netlify/functions/proxy"
  status = 200

[[redirects]]
  # 任何其他请求都指向静态文件 /index.html
  # 如果 build/index.html 存在，会优先提供
  from = "/*"
  to = "/index.html"
  status = 200
